<footer>
    <div class = 'bottom1'>
        <div class = 'icons siders'>
            <a href="https://www.linkedin.com/in/benoitivars/">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/benoitivars/">
                <i class="fa fa-brands fa-github"></i>
            </a>
        </div>
        <div class="logo">
            <a href="#index"></a>
        </div>
        <div class = "contactMe siders">
            <p>+32 472 38 39 82</p> <p>
            </p>benoit.ivars@gmail.com</p>
        </div>
    </div>
    <span class = 'bottomBar'></span>
    <div class = 'bottom2'>
        <p><%= new Date().getFullYear() %> - The holy fire of web dev</p>
    </div>
</footer>  