<header class="sticky">
    <div class="logo">
        <a href="http://localhost:3000/"></a>
    </div>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <nav class="menu-liste">
        <ul class = "nav-menu">
            <li><a href="http://localhost:3000/beMovies">Be Movies</a></li>
            <li><a href="http://localhost:3000/Accenture">Accenture</a></li>
            <li><a href="http://localhost:3000/promethee">Prométhée</a></li>
            <li><a href="http://localhost:3000/aboutme">About me</a></li>
            <!-- Toggle pour le dark mode -->
            <li class="dark-mode-toggle">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </li>
        </ul>
    </nav>
</header>