<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="titles">
            <h1>About me</h1>
            <h2>Let's take a &lt;br&gt;<br>and take the time to discuss a little bit</h2>
        </div>
        <div class="projectExplaination">
            <div class="explainations">
                <h3>My professional background</h3>
                <p>Before transitioning into coding, I had a different profession: teaching. I worked as a student coach for secondary and post-graduate education, as well as a teacher for teenagers and young adults who had left school before obtaining their diploma and wanted to acquire it through a public exam. A significant part of my job was to help them structure their thoughts, as well as their working methods in order to achieve their goals. As a French teacher, especially, it was important to teach them to structure their texts, depending on the text they had to write: argumentation, synthesis, a motivation letter, an answer to an upset client, ... each type of text has its own structure.</p>
                <br>
                <p>And after they adopted the correct structure, I had to teach them how to place the elements, arguments in the right order, in order to communicate in an effective way, producing the required effect on their recipients.</p>
                <br>
                <p>This work also required a lot of creativity, in order to produce the desired effects for my students.</p>
                <br>
                <p>In a way, I was already using skills valued in coding.</p>
                <h3>My academic and intellectual backgrounds</h3>
                <p>My studies are also roots for my interest in coding. I studied political sciences, had a master's degree in international relations, and a one-year master's degree in journalism.</p>
                <br>
                <p>While journalism was a very (but faraway) contact with online content creation by using WordPress, my studies in political sciences were the occasion to discover one of my favourite hobbies: philosophy. Studying at Université Saint Louis (Brussels), I had the chance to take a lot of various courses in this field and to choose optional courses in it. It was an occasion to learn to develop my reflection on various fields, as well as the structuration of my thoughts and arguments.</p>
                <br>
                <p>Later, I continued to read philosophy, and I discovered analytical philosophy, and it was like a revelation to me. In this field, the notions of language, truth, and logic are central. For analytical philosophers, philosophical issues are most of the time not a problem of doctrine, but a problem of understanding, about the meaning of words, and the link they have with both reality and truth. In this field, the focus on language is essential to solving problems.</p>
                <h3>My drift to coding</h3>
                <p>So, why did I drift to coding? If I do like to teach, to think, and to argue, I always felt a lack of practice, realisation. It was always about discourses, not concrete accomplishments.</p>
                <br>
                <p>With coding, I have the opportunity to "practice" all this reflection about argumentation, language, and logic, with practical outputs, that people can experience, and furthermore, that can have a commercial value.</p>
                <br>
                <p>More precisely, I have the personal feeling to express those abilities at their best when coding in Back End. If I am able to code Front End (I coded this portfolio, using my script <a href="https://github.com/benoitivars/Promethee" target="_blank"><span class="boldLink">Prométhée</span></a>), I really prefer to work on the back side, where I have the feeling to have a better and more precise control on what I create to answer the requirements of the projects I have to work on, and also more tools to use.</p>
                <br>
                <p>In a way, the back end is to me a blank page where imagination (and requirements) is the only limit, much more than in Front End. The Back End is in my opinion the foundation on which colleagues at the Front side can build impressive client interfaces.</p>
                <br>
                <p>A good website or web application needs both, and I can assure a relevant work on the Back side.</p>
                <br>
                <p>And furthermore, I am in a continuous dynamic of learning, and would be curious at some point to learn languages like Java or C#, in order to develop my backend abilities in fields beyond web development.</p>
                <h3>About this portfolio</h3>
                <p>For now, this portfolio presents some of my works... and is, by itself, my most recent Front End project. In the future, I will add some features, like mock-ups with my projects, regroup the BeCode projects in a common thumbnail, to make some place for projects built in internships, for enterprises or clients.</p>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/animationsH1/animationH1AboutMe.js".js></script>
    <script src="/js/darkMode.js"></script>
    <script src="/js/displayMenu.js"></script>
</body>
</html>