
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="titles">
            <h1>Be Movies</h1>
            <h2>The project about <br> videos on demand</h2>
        </div>
        <div class="projectExplaination">
            <div class="explainations">
            <h3>About this project</h3>
            <p>BeMovies was one of our first big projects : making the Front End of an imaginary VOD website, like the well knowns Netflix, Disney+, and so on. It was also a common project, with somewone else.</p>
            <h3>Specific points of this exercise</h3>
            <p>BeMovies was a project with specific objectives.</p>
            <p>From the technical perspective, we had to :</p>
            <ul>
                <li>- Use an API, here the TMDB</li>
                <li>- Read the documentation to make relevant fetches with the project</li>
                <li>- Add DOM interactions</li>
                <li>- Add some modals</li>
                <li>- Use Swiper</li>
            </ul>
            <br>
            <p>From the soft skills perspective, we had to :</p>
            <ul>
                <li>- Communicating with a peer</li>
                <li>- Utilizing their front-end code to implement the relevant fetches</li>
                <li>- ... and we did not have the authorization to modify each other's code!</li>
            </ul>
            <br>
            <p>It has been a good challenge for both of us! Being able to meet objectives on time, to communicate about difficulties, and to find solutions to issues together (even though we weren't allowed to directly modify each other's code, nobody said we couldn't talk about our challenges and find solutions together!) has been an instructive exercise in practicing Front End development, adding some interactivity to it.</p>
            <h3>My opinion about this project</h3>
            <p>As I write these lines in late February 2024, reflecting on this project from late October 2023 brings a sense of accomplishment. At that time, we were just embarking on our first big project. Looking back, it's evident how much we've grown since then. Initially, we might not have been confident enough to use SASS or ensure the page was responsive—technologies and techniques that I now confidently employ in this portfolio. Furthermore, I am aware that there are some issues with the swiper arrows, which I view not as flaws, but as opportunities for further refinement and learning. Recognizing this growth, I see BeMovies not just as a testament to our early efforts but as a valuable foundation with great potential for enhancement. Revisiting and upgrading this project with the skills and knowledge I've acquired since then stands as an exciting personal challenge. It underscores the evolution of my development skills and the ongoing journey of learning and improvement in the field of web development.</p>
            <h3>Do you want to see this project ?</h3>
            <p>Don't hesitate to follow this link that will lead you to the deployment of <a href="https://benoitivars.github.io/firstCommonProject/" target="_blank"><span class="boldLink">BeMovies!</span></a></p>
            <p>In order to use it, connect with a manager account with </p>
        </div>
        <div class="pictureProject">
        </div>
    </div>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/animationsH1/animationH1BeMovies.js".js></script>
    <script src="/js/darkMode.js"></script>
    <script src="/js/displayMenu.js"></script>
</body>
</html>