/*BACKGROUND-COLORS*/
$clearBackground2 :#f0f0f0;
$clearBackground3 :yellow;

/* Text Colors for Contrast */
$textColorForBg2 : #162238; /* For $clearBackground2 */

/* Dark Background Colors */
$darkBackground2 : #162238; 

/* Text Colors for Dark Backgrounds */
$textColorForDarkBg2 : #f0f0f0;; // Presque blanc, pour un contraste élevé avec $darkBackground2


/* Fire colors*/
$orangeFire : #FF6723;
$yellowFire : #FFB02E;

/* Light grey */
$lightGrey : #B0B0B0;